body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  /* --- begin header image and text --- */
.hero-image {
    background-image:  url("images/beach.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
  }
  
  h1{
    font-size:50px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 40%;
    color: white;
  }


  /* --- end header image and text --- */

  /* --- begin top navigation --- */

.topnav {
  overflow: hidden;
  background-color: #333;
  
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
 
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
/* --- end top navigation --- */
/* --- begin home --- */
.homeDiv {
  /*
  border: 5px solid red;
  background-color: lightblue;
   */
  padding: 10px;
 
 }

.homeDiv h2, .aboutDiv h2, .galleryDiv h2, .contactDiv h2{
  text-align: center;
  font-size: 3em;
}
.homeDiv div {
 /*
  border: 5px solid grey;
  
  */
  width:80%;
  margin:auto;
}
/* --- end home  --- */
/* --- begin gallery --- */
.galleryDiv {
  /*
  border: 5px solid red;
  background-color: lightblue;
   */
  padding: 10px;
 
 }

.galleryDiv div {
 /*
  border: 5px solid grey;
  
  */
  width:80%;
  margin:auto;
}

* {
  box-sizing: border-box;
}
.row {
 /*
  border: 5px solid rgb(200, 123, 92);
  */
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  /* 
  border: 5px solid rgb(92, 200, 115);
  */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width:100%;
}

/* --- end gallery --- */

/* --- begin about --- */
.aboutDiv {
 /* 
  border: 5px solid rgb(92, 200, 115);
  */
  width: 80%;
  margin:auto;
}
.aboutDivFlex {
  /*
  border: 5px solid rgb(92, 200, 115);
  */
  display:flex;
  margin:auto;
}
.aboutDiv1, .aboutDiv2 {
  /*
  border: 5px solid rgb(200, 92, 92);
  */
  flex: 50%;
  padding:20px;
}

/* --- end about --- */

/* --- begin contact --- */
.contactDiv {
  /*
  border: 5px solid rgb(200, 92, 92);
  */
  border-radius: 5px;
  padding: 20px;
  width:70%;
  margin:auto;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  
}
#submitDiv{
  
  float:right;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

input[type=submit]:hover {
  background-color: #1f4721;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
footer{
  text-align: center;
  margin-top:5%;
  width: 100%;
}